{# ==================   Forms  =============#}    
<section class="section-contact" id="section-contact">
    <div class="container wrapper">
         <div class="contact-container">

            <div class="contact-left">
                <h1 class="heading-main">Let's Talk</h1>
                <p>We’d love to hear from you. Leave us a message using the contact form, or drop us a line.</p>

                <ul class="contact-details">
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <div>
                            <h3>Call us</h3>
                            <p>+233 241 105 423</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa-regular fa-envelope"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>info@segulaglobal.com</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-location-dot"></i>
                        <div>
                            <h3>Find us</h3>
                            <p>17 Boundary Road, East Legon, down Kaiser Kitchen jnt.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <form class="contact-form" name="Contact Form" method="POST" data-netlify="true">
                <h2 class="heading-secondary">Send a message</h2>
                <div class="input-field">
                    <label for="fname">Full Name</label>
                    <input type="text" name="fname" id="fname" required>
                </div>
                <div class="input-field">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-field">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" required>
                </div>
                <div class="input-field">
                    <select name="Service" id="lang" required>
                        <option value="javascript">I want Segula Global to help me with</option>
                        <option value="php">Optimize my Linkedin profile</option>
                        <option value="php">Photography &amp; Videography</option>
                        <option value="java">Logo Design and Branding</option>
                        <option value="golang">Create my podcast</option>
                        <option value="python">Other</option>
                    </select>
                </div>      
                <div class="input-field">
                    <label for="message">Add a message</label>
                    <textarea name="message" id="message" cols="30" rows="10" required></textarea>
                </div>   
                <input type="button" value="Send" class="btn btn-blue">       
            </form>
         </div>
    </div>
</section>
{# End of Contact forms #}




<!-- ============== Contact Footer ============= -->
<section class="section-footer" id="section-footer">
    <div class="container wrapper">

        <div class="footer-container">
            <div class="text-center">
                <img src="/assets/logo-joint.png" alt="Segula Global logo" class="footer-logo">
            </div>

        {# Social media icons #}
        <ul class="footer-social">
            {# linkedin #}
            <li class="social-item">
                <a href="https://www.linkedin.com/company/segula-global/?viewAsMember=true" class="social-link" target="blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
            {# YouTube #}
            {# <li class="social-item">
                <a href="https://www.instagram.com/segulaglobal/" class="social-link" target="blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li> #}
            {# Instagram #}
            <li class="social-item">
                <a href="https://www.instagram.com/segulaglobal/" class="social-link" target="blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            {# Twitter #}
            <li class="social-item">
                <a href="https://twitter.com/segulaglobal" class="social-link" target="blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </li>
        </ul>

        {# Privacy Policy and Terms of use #}
        <ul class="policy">
            <li class="privacy-item">
                <a href="#" class="privacy-link">Privacy Policy</a>
            </li>
            <li class="privacy-item">
                <a href="#" class="privacy-link">Terms of Use</a>
            </li>
        </ul>
           
        </div>
        
    </div>
</section> 
<footer>
    <p>&copy; 2023 Segula Global. All Rights Reserved.</p>
</footer>
