{# ==================   Contact  =============#}    
<section class="section-contact" id="section-contact">
    <div class="container wrapper">
         <form action="/form-success/" class="contact-form" name="contact" method="POST" data-netlify="true">
            <h2 class="heading-secondary text-center">Send a message</h2>
            <input type="text" name="Name" id="fname" placeholder="Full Name" required class="input-field">
            <input type="email" name="email" id="email" placeholder="Email Address" required class="input-field">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required class="input-field"></textarea>
            <input type="submit" value="Send Message &longrightarrow;" >
        </form>
    </div>
</section>
{# End of Contact forms #}




<!-- ============== SECTION CONTACT ============= -->
<section class="section-footer" id="section-footer">
    <div class="container wrapper">

        <div class="footer-container">
            <div class="contact-left">
                <a href="/">
                    <img src="/assets/logo-white.png" alt="Comfort Cradle Care" srcset="">
                </a>
                <p>Comfort Cradle Care is more than just a night nursing service. It's a community of caring professionals who share your passion for your baby's well-being. Whether you need us for a few nights or a few months, we are here to make your transition to parenthood as smooth and joyful as possible. Contact us today and let us show you how we can make a difference in your baby's life.
                </p>
                <ul class="policy">
                    <li>
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/terms-of-service">Terms of Use</a>
                    </li>
                </ul>           
            </div>
            <div>
                <h2 class="heading-tertiary white-text">Contact Us</h2>
                <ul class="contact-details">
                    <li>
                        <i class="fa fa-phone"></i>
                        <div>
                            <span>Call Us</span>
                            <p>+233 595 189 507</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <div>
                            <span>Email</span>
                            <p><a href="mailto:info@comfortcradlecarea.com" title="Send me an Email">info@comfortcradlecarea.com</a></p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>
                        <div>
                            <span>Address</span>
                            <p>24 Rokel Close, Spintex Comm 18 Accra</p>
                        </div>
                    </li>
                </ul>
                <ul class="nav-social">
                    <li>
                        <a href="https://wa.link/8b03ad" target="_blank" class="social-link" title="check me out on Instagram">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/comfortcradlecare/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank" class="social-link" title="check me out on Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.facebook.com/profile.php?id=100092654556846" target="_blank" class="social-link" title="Let's be freinds on Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="https://twitter.com/Carbelldidit" target="_blank" class="social-link" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li> -->
                </ul>
            </div>

           
        </div>
        
    </div>
</section> 
<footer>
    <p>&copy; 2023 Comfort Cradle Care. All Rights Reserved.</p>
</footer>
