// ============================================================
//                      Table of Content
// ============================================================
// 1. Font-face



// 1. =============== Font-face ============
@font-face {
    font-family: "versailles";
    src: url(/assets/fonts/e20c869a67f13952fad962e299fcf39f.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "versailles";
    src: url(/assets/fonts/vesailles-roman.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "versailles";
    src: url(/assets/fonts/versailles-light.woff);
    font-weight: lighter;
    font-style: normal;
}




*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --clr-primary: #008764;
    --clr-primary-dark: #12362C;
    --clr-primary-light: #90D0C2;
    --clr-gold-light: #E7C383;
    --clr-gold-dark: #94774F;
    --clr-gold-rgb: 231, 194, 131;
    --clr-white: #ffffff;
    --clr-black: #000814;
    --clr-gray-light: #D3D0D0;
    --clr-gray-dark: #58595b;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    line-height: 2.0;
    transition: all .4s ease-in-out;
    font-family: 'Open Sans', sans-serif;    
    background: #f1f3f7;
    color: var(--clr-gray-dark-2);
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'versailles', serif;
}
p, i, span, article {
    font-family: inherit;
    font-size: inherit;
}
a {
    font-family: "Helveitca rounded", sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: inherit;
}
img {
    width: 100%;
    height: auto;
    display: inline-block;
}


section {
    transition: .3s;
}




@media screen and (max-width: 600px) {
    body {
        // font-size: 1.4rem;
    }
}