@charset "UTF-8";
.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mr-50 {
  margin-right: 5rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-50 {
  margin-top: 5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scroll-down {
  0% {
    transform: translate(0px, -4px);
  }
  50% {
    transform: translate(0px, 4px);
  }
  100% {
    transform: translate(0px, -4px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@font-face {
  font-family: "versailles";
  src: url(/assets/fonts/e20c869a67f13952fad962e299fcf39f.woff);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "versailles";
  src: url(/assets/fonts/vesailles-roman.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "versailles";
  src: url(/assets/fonts/versailles-light.woff);
  font-weight: lighter;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --clr-primary: #008764;
  --clr-primary-dark: #12362C;
  --clr-primary-light: #90D0C2;
  --clr-gold-light: #E7C383;
  --clr-gold-dark: #94774F;
  --clr-gold-rgb: 231, 194, 131;
  --clr-white: #ffffff;
  --clr-black: #000814;
  --clr-gray-light: #D3D0D0;
  --clr-gray-dark: #58595b;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  line-height: 2;
  transition: all 0.4s ease-in-out;
  font-family: "Open Sans", sans-serif;
  background: #f1f3f7;
  color: var(--clr-gray-dark-2);
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: "versailles", serif;
}

p, i, span, article {
  font-family: inherit;
  font-size: inherit;
}

a {
  font-family: "Helveitca rounded", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: inherit;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

section {
  transition: 0.3s;
}

.heading-primary {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.heading-primary::before, .heading-primary::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 70%;
  position: absolute;
}
.heading-primary::before {
  background-color: var(--clr-primary);
  top: 5px;
  left: -14px;
}
.heading-primary::after {
  background-color: var(--clr-gray-dark-2);
  top: 5px;
  left: -9px;
}

.heading-secondary {
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  color: var(--clr-black);
  line-height: 1;
  position: relative;
  z-index: 1;
  transform: translateX(-3rem);
}
.heading-secondary::after {
  content: "";
  width: 4rem;
  height: 0.6rem;
  background-color: var(--clr-primary);
  position: absolute;
  bottom: 0;
  left: 100%;
  border-radius: 0.5rem;
  transform: translateX(2rem);
}

.heading-tertiary {
  font-size: 30px;
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--clr-black);
}

.thin-text {
  font-weight: lighter;
  letter-spacing: 2px;
}

.white-text {
  color: #fff;
}
.white-text::before, .white-text::after {
  background-color: var(--clr-gold-light);
}

.primary-text {
  color: var(--clr-primary);
}

.blog-heading {
  text-transform: uppercase;
}

@media screen and (max-width: 766px) {
  .heading-secondary {
    font-size: 25px;
    font-weight: bolder;
  }
}
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 8;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  background: var(--clr-primary);
  opacity: 0.8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.to-top:hover {
  background-color: var(--clr-white);
  transform: translateY(-3px);
}
.to-top:hover i, .to-top:focus i {
  color: var(--clr-primary);
}
.to-top i {
  color: var(--clr-gray-light);
  font-size: 2.5rem;
  padding-bottom: 3px;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  font-family: "helvetica rounded", sans-serif;
  font-size: 1.3rem;
  border: 2px solid transparent;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.542);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.242);
  transform: translateY(-3px);
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #fff;
  border: 2px solid var(--clr-primary);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--clr-gold-light);
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
}

.btn-gold {
  background-color: var(--clr-gold-light);
  color: #000;
  border: 2px solid var(--clr-white);
}
.btn-gold:hover, .btn-gold:focus {
  background-color: var(--clr-white);
  color: var(--clr-gold-light);
  border: 2px solid var(--clr-gold-light);
}

.btn-neutral {
  background-color: var(--clr-white);
  color: #000;
  border: 2px solid var(--clr-primary);
}
.btn-neutral:hover, .btn-neutral:focus {
  background-color: var(--clr-gray-light);
  color: Var(--clr-primary);
}

.btn-thin {
  padding: 2rem 3rem;
  display: inline-block;
  margin-top: 1rem;
  color: var(--clr-primary);
}
.btn-thin:hover, .btn-thin:focus {
  color: darkred;
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 2580px;
  height: 100%;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

#hero {
  padding-top: 12rem;
}

.col-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  align-items: center;
}

.col-1-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.col-1-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.section {
  padding: 10rem 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding-right: 120px;
    padding-left: 120px;
  }

  .col-1-2 {
    grid-template-columns: 1fr 1fr;
  }

  .col-1-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .col-1-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
}
.nav-scrolled {
  --clr-primary-dark: #ffff;
  --clr-cream: #E7C383;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.349);
}

.nav-bar {
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--clr-primary-dark);
}
.nav-bar .nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-bar .nav-btn {
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0px, -50%);
}
.nav-bar .nav-btn:hover .lines {
  background-color: var(--clr-primary);
}
.nav-bar .nav-btn .lines {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--clr-white);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.nav-bar .nav-btn .lines:not(:last-child) {
  margin-bottom: 0.6rem;
}
.nav-bar .nav-btn.close {
  transform: translate(0px, -50%) rotate(180deg);
}
.nav-bar .nav-btn.close .lines:nth-child(1) {
  transform: translate(0px, 9px) rotate(45deg);
}
.nav-bar .nav-btn.close .lines:nth-child(2) {
  opacity: 0;
}
.nav-bar .nav-btn.close .lines:nth-child(3) {
  transform: translate(0px, -9px) rotate(-45deg);
}
.nav-bar .logo {
  margin-bottom: 0;
}
.nav-bar .logo img {
  width: 150px;
  height: auto;
}
.nav-bar .nav-list {
  list-style: none;
}
.nav-bar .nav-list .nav-item {
  display: inline-block;
}
.nav-bar .nav-list .nav-item:not(:last-child) {
  margin-right: 4rem;
}
.nav-bar .nav-list .nav-item .nav-link {
  color: var(--clr-primary-dark);
  display: inline-block;
  padding: 1rem 0;
  font-family: inherit;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  position: relative;
  z-index: 1;
}
.nav-bar .nav-list .nav-item .nav-link:hover::after, .nav-bar .nav-list .nav-item .nav-link:focus::after {
  left: 50%;
  opacity: 1;
}
.nav-bar .nav-list .nav-item .nav-link::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background: var(--clr-primary);
  position: absolute;
  top: 100%;
  left: -30%;
  opacity: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: 0.4s ease;
}
.nav-bar .nav-list .nav-item .nav-link:hover, .nav-bar .nav-list .nav-item .nav-link:focus {
  transform: scale(1.1) translateY(-2px);
  color: var(--clr-white);
  border-bottom: 2px solid var(--clr-cream);
}

@media screen and (max-width: 1019px) {
  .nav-bar .nav-list {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background: rgb(var(--clr-gold-rgb), 0.8);
    backdrop-filter: blur(0.1rem);
    display: flex;
    flex-direction: column;
    padding-top: min(20vh, 4rem);
    justify-content: center;
    text-align: center;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transform: translate3d(100%, 0, 0);
  }
  .nav-bar .nav-list .nav-item {
    opacity: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }
  .nav-bar .nav-list .nav-item:not(:last-child) {
    margin-right: 0;
  }
  .nav-bar .nav-list .nav-item.show {
    opacity: 1;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(1) {
    transition-delay: 0.4s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(2) {
    transition-delay: 0.6s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(3) {
    transition-delay: 0.8s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(4) {
    transition-delay: 1s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(5) {
    transition-delay: 1.2s;
  }
  .nav-bar .nav-list .nav-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .nav-bar .nav-list .nav-item .nav-link::after {
    background: var(--clr-white);
  }
  .nav-bar .nav-list .nav-item .nav-link.btn {
    padding-inline: 2rem;
    margin-top: 2rem;
  }
  .nav-bar .nav-list.show {
    transform: translate3d(0, 0, 0);
  }

  .nav-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(60, 60, 60, 0.712);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  .nav-overlay.show {
    opacity: 1;
    pointer-events: initial;
  }
}
@media screen and (min-width: 1020px) {
  .nav-bar .nav-list {
    display: flex;
  }
  .nav-bar .nav-list .nav-item:not(:last-child) {
    margin-right: 5rem;
  }
  .nav-bar .nav-list .nav-item .nav-link {
    color: var(--clr-white);
  }
  .nav-bar .nav-list .nav-item .nav-link.btn {
    padding-inline: 2rem;
  }
  .nav-bar .nav-list .nav-item .nav-link.btn-neutral {
    color: var(--clr-primary);
  }
  .nav-bar .nav-list .nav-item .nav-link:hover, .nav-bar .nav-list .nav-item .nav-link:focus {
    color: var(--clr-primary);
  }
  .nav-bar .nav-btn {
    display: none;
  }
}
.section-contact {
  padding: 7rem 0 5rem;
  background-image: url(/assets/contact-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact-container {
  background-color: rgba(245, 245, 245, 0.785);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.349);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 5rem;
  gap: 3rem;
  border-radius: 5px;
}
.contact-container h1 {
  font-size: 5rem;
}
.contact-container .contact-left {
  flex: 1.5;
  background-image: url(/assets/footer-photo.png);
  background-size: cover;
  color: var(--clr-white);
  padding: 2rem;
  padding-top: 5rem;
}
.contact-container .contact-left .contact-details {
  margin-top: 2rem;
  list-style: none;
}
.contact-container .contact-left .contact-details .contact-item {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-container .contact-left .contact-details i {
  font-size: 2.5rem;
}
.contact-container .contact-left .contact-details h3 {
  color: var(--clr-gold-light);
  font-size: 1.4rem;
}
.contact-container form {
  flex: 2;
}

.section-footer {
  background-image: linear-gradient(to right bottom, #0c2921, #021510);
  color: var(--clr-gray-light);
  padding: 8rem 0 5rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.section-footer .footer-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem 1rem;
}
.section-footer .footer-logo {
  line-height: 1;
  width: 200px;
}
.section-footer .footer-social {
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.section-footer .footer-social .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--clr-white);
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--clr-gray-light);
}
.section-footer .footer-social .social-link:hover > i, .section-footer .footer-social .social-link:focus > i {
  transform: rotateY(360deg);
}
.section-footer .footer-social .social-link i {
  transition: 0.4s;
}
.section-footer .footer-social .social-link:hover, .section-footer .footer-social .social-link:focus {
  color: var(--clr-blue-dark);
}
.section-footer .footer-social .social-link:hover::before {
  top: 0;
}
.section-footer .footer-social .social-link::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, #E7C383, #94774F);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  transition: 0.4s;
}
.section-footer .policy {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem 0 0;
}
.section-footer .policy li {
  display: inline-block;
}
.section-footer .policy li:not(:last-child) {
  margin-right: 3rem;
}
.section-footer .policy a {
  display: inline-block;
  color: var(--clr-gray-dark-2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.section-footer .policy a:hover, .section-footer .policy a:focus {
  transform: translateY(-3px) scale(1.1);
  color: var(--clr-primary-light);
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
footer p {
  font-size: 1.3rem;
  color: var(--clr-gray-dark);
}

/* Begin Media Queries*/
@media screen and (max-width: 1019px) {
  .section-contact .contact-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .section-contact .contact-container {
    padding: 1rem;
  }
  .section-contact .contact-container h1 {
    line-height: 1;
  }
  .section-contact .contact-container form {
    padding: 2rem;
    padding-bottom: 3rem;
  }
}
.contact-form {
  text-align: left;
  width: 100%;
}
.contact-form .input-field {
  width: 100%;
  margin-bottom: 1rem;
}
.contact-form .input-field input, .contact-form .input-field textarea, .contact-form .input-field select {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  outline: none;
  border: none;
  resize: none;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: 0.2s;
}
.contact-form .input-field input:focus, .contact-form .input-field input:valid, .contact-form .input-field textarea:focus, .contact-form .input-field textarea:valid, .contact-form .input-field select:focus, .contact-form .input-field select:valid {
  border: 2px solid var(--clr-primary);
}

@media screen and (max-width: 600px) {
  .contact form {
    text-align: center;
  }
}
ul.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  list-style: none;
  text-align: center;
}
ul.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
ul.slick-dots li::before {
  content: "";
  top: 1px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  width: 8px;
  height: 8px;
  background: var(--clr-white);
  position: absolute;
  box-shadow: 0 4px 5px rgba(5, 0, 41, 0.174);
  border-radius: 50%;
}
ul.slick-dots li::before:hover, ul.slick-dots li::before:focus {
  box-shadow: 0 1px 3px rgba(5, 0, 41, 0.44);
  transform: translateY(-2px);
}
ul.slick-dots li.slick-active::before {
  top: 0;
  width: 12px;
  height: 12px;
  margin-left: -2px;
  background: var(--clr-primary);
}
ul.slick-dots li button {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  color: var(--clr-primary);
  background-color: var(--clr-gray-light);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}
.slick-arrow:hover, .slick-arrow:focus {
  color: var(--clr-primary);
  background-color: var(--clr-gold-light);
}
.slick-arrow::before {
  display: none;
}
.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

@media screen and (max-width: 768px) {
  .slick-arrow {
    top: calc(100% + 30px);
  }

  ul.slick-dots {
    bottom: -70px;
  }
}
@media screen and (min-width: 769px) {
  .slick-next {
    transform: translateX(30px);
  }

  .slick-prev {
    transform: translateX(-30px);
  }
}
.section-coming {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/home-bg.png);
  background-size: cover;
  background-position: center;
  color: var(--clr-white);
}
.section-coming .coming-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}
.section-coming .coming-text img {
  width: 300px;
  margin-bottom: 5rem;
  opacity: 0;
  animation: slidedown 1s ease-in-out forwards;
}
.section-coming .coming-text h1 {
  font-size: 5rem;
  line-height: 1;
  opacity: 0;
  animation: fadein 0.6s ease-in 1s forwards;
}
.section-coming .coming-text p {
  margin: 4rem 0;
  opacity: 0;
  animation: fadein 0.6s ease-in 1.2s forwards;
}
.section-coming .coming-text .btn {
  opacity: 0;
  animation: fadein 0.6s ease-in 1.2s forwards, scroll-down 1s ease-in-out infinite 1.4s forwards;
}

.section-hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-primary-dark);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  position: relative;
  clip-path: polygon(0% 0, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  padding-top: 80px;
}
.section-hero .hero-container {
  width: 100%;
  height: 100%;
  padding-bottom: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  position: relative;
}
.section-hero .hero-container .hero-image {
  position: relative;
  z-index: 2;
  margin-top: 10px;
}
.section-hero .hero-container h3 {
  display: inline-block;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  position: relative;
  animation: fromRight 0.4s ease-in-out forwards;
}
.section-hero .hero-container .hero-name {
  display: block;
  font-size: 60px;
  font-family: "versailles";
  font-weight: lighter;
  color: var(--clr-white);
  letter-spacing: 3px;
  line-height: 1;
  margin: 5px 0;
  margin-top: 1rem;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 0.5s forwards;
  margin-bottom: 3rem;
}
.section-hero .hero-container .hero-image {
  padding-top: 60px;
}
.section-hero .hero-container p {
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 1s forwards;
}
.section-hero .hero-container .btn {
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 1s forwards;
}
.section-hero .hero-container .scroll-down {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-green);
  animation: scroll-down 1s ease-in-out infinite;
}
.section-hero .hero-container .scroll-down i {
  font-size: 3rem;
}

.section-about {
  padding: 13rem 0 10rem;
}

.section-services {
  padding: 10rem 0 15rem;
  text-align: center;
}
.section-services .services-gallery {
  position: relative;
  padding: 3rem 0;
  margin-bottom: 12rem;
}
.section-services .services-gallery .service {
  text-align: center;
}
.section-services .services-gallery .service img {
  height: 200px;
  display: inline-block;
  width: auto;
  line-height: 1;
  transition: 0.4s;
}
.section-services .services-gallery .service img:hover, .section-services .services-gallery .service img:focus {
  transform: scale(1.03);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.226);
}
.section-services .services-gallery .service img:not(:last-child) {
  margin-right: 2rem;
}
.section-services .services-gallery .slick-arrow {
  position: absolute;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--clr-primary);
  transition: 0.3s;
}
.section-services .services-gallery .slick-arrow:hover, .section-services .services-gallery .slick-arrow:focus {
  background-color: var(--clr-primary-dark);
}
.section-services .services-gallery .slick-arrow i {
  color: var(--clr-white);
  font-size: 2rem;
}
.section-services .services-gallery .slick-next {
  right: 15px;
  top: 100%;
  transform: translateY(5px);
}
.section-services .services-gallery .slick-prev {
  left: 15px;
  top: 100%;
  transform: translateY(5px);
}

.section-banner {
  min-height: 70vh;
  padding: 5rem 0;
  background-image: url(/assets/banner.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: var(--clr-white);
}
.section-banner .video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}
.section-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(var(--clr-green-rgb), 0.85);
}
.section-banner .banner-container {
  width: 100%;
  max-width: 1000px;
}
.section-banner h1 {
  color: var(--clr-gray-light);
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.section-banner p {
  margin-bottom: 4rem;
}

.section-proposition {
  padding: 10rem 0 15rem;
}
.section-proposition .col-1-3 img {
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.303);
  transition: 0.4s;
}
.section-proposition .col-1-3 img:hover, .section-proposition .col-1-3 img:focus {
  box-shadow: 0 0.7rem 0.6rem rgba(0, 0, 0, 0.118);
  transform: translateY(-5px);
}

.section-value {
  Padding: 12rem 0;
}
.section-value .value {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--clr-white);
  margin-bottom: 3rem;
  padding: 2rem 1rem;
  gap: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(175, 177, 185, 0.271);
  border-radius: 2rem;
  position: relative;
}
.section-value .value_img {
  position: relative;
  height: 200px;
  width: 110%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  overflow: hidden;
}
.section-value .value_img img {
  display: inline-block;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-value .value_img .overlay {
  background-color: rgba(var(--clr-green-rgb), 0.85);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-value .value_img i {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  color: var(--clr-cream);
}

.section-testimonials {
  padding: 15rem 0;
  clip-path: polygon(0% 0, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  position: relative;
  overflow: hidden;
}
.section-testimonials:hover > .container .slick-slider .slick-arrow {
  color: var(--clr-primary);
  background-color: var(--clr-gold-light);
}
.section-testimonials .overlay {
  background-image: linear-gradient(to bottom, rgba(0, 135, 99, 0.889), rgba(18, 54, 44, 0.922));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-testimonials .video-bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.section-testimonials .slick-slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-inline: 5rem;
  position: relative;
}
.section-testimonials .testimonial {
  background: var(--clr-white);
  width: 100%;
  text-align: center;
  border-radius: 10px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  padding: 2.5rem 2rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-bottom: 2px solid var(--clr-gold-light);
  margin-inline: 1rem;
}
.section-testimonials .testimonial:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.129);
  transform: translateY(-3px);
}
.section-testimonials .testimonial__text {
  font-size: 1.5rem;
  display: none;
}
.section-testimonials .testimonial__img {
  width: auto;
  height: 100px;
  margin: 0rem auto;
  border: 2px solid var(--clr-gold-light);
  border-radius: 50%;
}
.section-packages {
  padding: 15rem 0 20rem;
}
.section-packages .package {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.123);
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
}
.section-packages .package:hover {
  transform: translateY(-4px);
}
.section-packages .package .green-gradient {
  background-image: linear-gradient(to bottom, #008764, #12362C);
}
.section-packages .package .gold-gradient {
  background-image: linear-gradient(to bottom, #E7C383, #94774F);
}
.section-packages .package .package__head {
  padding: 4rem 0;
  color: var(--clr-white);
  clip-path: ellipse(100% 55% at 48% 44%);
}
.section-packages .package .package__head h1 {
  font-size: 6rem;
  line-height: 1;
  margin-left: -3rem;
}
.section-packages .package .package__head h1 span {
  display: inline-block;
  font-size: 1rem;
  margin-top: -5rem;
  margin-right: 1rem;
  vertical-align: super;
}
.section-packages .package .package__text {
  padding: 3rem;
}
.section-packages .package .package__text .package-list {
  list-style: none;
}
.section-packages .package .package__text .package-list li:not(:last-child) {
  margin-bottom: 2rem;
}

.section-blog {
  padding: 10rem 0;
}

.section-faq {
  padding: 8rem 0 12rem;
  border-top: 1px solid #dbdbdb;
}
.section-faq .wrapper {
  max-width: 1000px;
}
.section-faq .accordion-wrapper {
  margin: 0 50px;
}
.section-faq .accordion {
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 20px 0 0;
  font-size: 20px;
}
.section-faq .main-acc {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 6px 6px;
  padding: 28px;
  background-color: var(--clr-white);
  color: var(--clr-black);
}
.section-faq .main-acc.active {
  border-bottom: none;
  border-radius: 6px 6px 0px 0px;
}
.section-faq .main-acc:hover {
  background-color: #f6f4fc;
  color: var(--clr-purple);
  transform: translateY(-2px);
}
.section-faq .sub-acc {
  background-color: white;
  text-decoration: underline;
  margin: 0;
  padding: 18px 28px;
}
.section-faq .sub-acc:hover {
  background-color: #f6f4fc;
}
.section-faq .accordion:after {
  content: "+";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 28px;
}
.section-faq .active:after {
  content: "−";
}
.section-faq .panel {
  position: relative;
  z-index: 2;
  background-color: white;
  border: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}
.section-faq .sub-panel {
  border: none;
  /*   margin: 20px; */
}
.section-faq .sub-panel p {
  padding: 0 18px;
  margin: 10px 20px;
}
.section-faq .accordion.active + .main-panel {
  /*  background: red; */
  border-radius: 0px 0px 6px 6px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.section-faq .main-panel {
  /*   margin-top: -20px; */
}
.section-faq .btn {
  margin-top: 3rem;
}

@media screen and (min-width: 769px) {
  .section-hero .hero-text {
    margin-top: -10rem;
  }
  .section-hero .btn-primary {
    margin-right: 2rem;
  }

  .section-about .about-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .section-about .about-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .section-value .value {
    grid-template-columns: 1fr 3fr;
  }
}
@media screen and (max-width: 768px) {
  .section-hero .hero-container {
    grid-template-columns: 1fr;
  }
  .section-hero .hero-container .hero-image {
    display: none;
  }

  .section-value .value_img {
    height: 300px;
  }
  .section-banner h1 {
    font-size: 3rem;
    line-height: 1.5;
  }

  .section-testimonials .testimonials-container {
    padding: 0;
  }
  .section-testimonials .slick-slider {
    padding-inline: 0;
  }
}
@media screen and (max-width: 500px) {
  .section-hero .hero-container .hero-name {
    font-size: 4rem;
  }

  .section-value .value_img {
    height: 200px;
  }

  .section-testimonials .testimonial__text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 325px) {
  .section-hero .hero-container .hero-name {
    font-size: 3rem;
  }
}
.section-privacy {
  background: var(--clr-gray-light);
  padding: 10em 0;
  font-size: 1.6rem;
  line-height: 1.7;
}
.section-privacy ul, .section-privacy ol {
  margin-bottom: 2rem;
}
.section-privacy ul li, .section-privacy ol li {
  margin-bottom: 1rem;
}
.section-privacy a {
  color: var(--clr-primary);
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  word-wrap: break-word;
}
.section-privacy a:hover, .section-privacy a:focus {
  color: #920000;
}

.form-success {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  padding: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.323);
  text-align: center;
}
.form-success h2 {
  margin-bottom: 1.5rem;
}
.form-success p {
  margin-bottom: 1.5rem;
}

.portfolio-page {
  padding-top: 15rem;
}

.portfolio-page__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.photography {
  margin: 15rem 0 5rem 0;
}

.photography-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.photography-container .photo {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.photography-container .photo:hover, .photography-container .photo:focus {
  scale: 1.03;
}

@media screen and (min-width: 501px) {
  .photography-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 769px) {
  .portfolio-page__container {
    grid-template-columns: 1fr 1fr;
  }

  .photography-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.calendly-inline-widget {
  min-width: 320px;
  height: 100%;
  min-height: 900px;
}

.section-team {
  padding-bottom: 10rem;
  padding-top: 5rem;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}

.team-card {
  background-color: var(--clr-white);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.359);
  border-radius: 2rem;
  transition: 0.4s;
  margin-bottom: 5rem;
  padding-top: 4rem;
  border-bottom: 3px solid var(--clr-primary);
  transition: 0.4s;
}
.team-card:hover {
  transition: 0.4s;
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.159);
}
.team-card .text {
  padding: 0 3rem;
  padding-bottom: 2rem;
}
.team-card .text .details {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.team-card .text .team-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.team-card .text .team-list .team-item:not(:last-child) {
  margin-right: 1rem;
}
.team-card .text .team-list .team-link {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  color: var(--clr-primary);
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid var(--clr-primary);
  transition: 0.4s;
}
.team-card .text .team-list .team-link:hover, .team-card .text .team-list .team-link:focus {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
.team-card .text .title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.team-card .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid var(--clr-primary);
  margin-bottom: 2rem;
  position: relative;
  outline: 3px solid var(--clr-primary);
  outline-offset: 2rem;
}
.team-card .img img {
  height: 110%;
  width: auto;
}

@media (max-width: 768px) {
  .section-team .team-container {
    grid-template-columns: 1fr;
  }
  .section-team .card {
    border-bottom: 2px solid var(--clr-primary);
  }

  .col-1-4 {
    grid-template-areas: "ai" "at";
  }

  .img {
    width: 100%;
    grid-area: ai;
    text-align: center;
  }
  .img img {
    width: auto;
    height: 350px;
  }

  .text {
    padding: 2rem;
    padding-bottom: 3rem;
    grid-area: at;
  }
}
.service-page-container {
  padding: 5rem 0 10rem;
  padding-inline: 10rem;
}

.service-card {
  background-color: var(--clr-white);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.359);
  border-radius: 2rem;
  transition: 0.4s;
  margin-bottom: 5rem;
  padding-top: 4rem;
  border-bottom: 3px solid var(--clr-primary);
}
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.159);
}
.service-card .text {
  padding: 0 3rem;
  padding-bottom: 4rem;
  grid-column: span 3;
}
.service-card .text .title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-process {
  padding: 10rem 0;
}

.timeline-main {
  width: 100%;
  padding: 25px;
}
.timeline-main .timeline-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.timeline-main .timeline-wrap::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: calc(100% - 10px);
  background-color: var(--clr-primary);
  animation: line 5s linear;
}
@media (max-width: 767px) {
  .timeline-main .timeline-wrap::before {
    left: 95%;
  }
}
.timeline-main .timeline-wrap .timeline-card {
  width: 50%;
  margin-right: auto;
  position: relative;
}
@media (max-width: 767px) {
  .timeline-main .timeline-wrap .timeline-card {
    width: 95%;
  }
}
.timeline-main .timeline-wrap .timeline-card::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: var(--clr-primary-light);
  animation: fadeIn 1.5s;
  animation-fill-mode: both;
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap {
  height: 100%;
  margin-right: 35px;
  background-color: var(--clr-primary);
  border-radius: 10px;
  position: relative;
  padding: 30px;
  animation: fadeInRight 2.5s;
  animation-fill-mode: both;
}
@media (max-width: 767px) {
  .timeline-main .timeline-wrap .timeline-card .timeline-card-wrap {
    padding: 20px;
  }
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap::before {
  content: "";
  position: absolute;
  left: 30px;
  top: -8px;
  height: 8px;
  width: calc(100% - 60px);
  background-color: var(--clr-primary-light);
  border-radius: 5px 5px 0 0;
  opacity: 0.3;
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: var(--clr-primary);
  border-radius: 5px;
  transform: rotate(45deg);
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .card-head-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 1199px) {
  .timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .card-head-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .card-head-wrap .timeline-card-head {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .card-head-wrap .timeline-card-head {
    font-size: 18px;
    line-height: 28px;
  }
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .card-head-wrap .timeline-card-subhead {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #bdbdbd;
  margin-bottom: 0;
  font-style: italic;
}
@media (max-width: 767px) {
  .timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .card-head-wrap .timeline-card-subhead {
    font-size: 14px;
    line-height: 24px;
  }
}
.timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .timeline-card-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--clr-white);
  margin: 25px 0 0;
}
@media (max-width: 767px) {
  .timeline-main .timeline-wrap .timeline-card .timeline-card-wrap .timeline-card-text {
    font-size: 12px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .timeline-main .timeline-wrap .timeline-card:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
  }
  .timeline-main .timeline-wrap .timeline-card:nth-child(even)::after {
    right: unset;
    left: -10px;
    animation-delay: 2.6s;
  }
  .timeline-main .timeline-wrap .timeline-card:nth-child(even) .timeline-card-wrap {
    margin-right: 0;
    margin-left: 35px;
    animation: fadeInLeft 2.5s;
    animation-fill-mode: both;
    animation-delay: 2.5s;
  }
  .timeline-main .timeline-wrap .timeline-card:nth-child(even) .timeline-card-wrap::after {
    right: unset;
    border-left: none;
    left: -8px;
    border-right: 10px solid var(--clr-primary);
  }
}

@keyframes line {
  0% {
    height: 0;
  }
  100% {
    height: calc(100% - 10px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .service-card {
    padding-inline: 2rem;
  }
}
@media (max-width: 768px) {
  .col-1-4 {
    grid-template-areas: "ai" "at";
  }

  .img {
    width: 100%;
    grid-area: ai;
    text-align: center;
  }
  .img img {
    width: auto;
    height: 350px;
  }

  .text {
    padding: 2rem;
    padding-bottom: 3rem;
    grid-area: at;
  }

  .service-page-container {
    padding-inline: 0;
  }
}
.section-blog__post {
  margin-bottom: 10rem;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 10rem;
}

.article {
  width: 100%;
  text-align: center;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 4px 5px rgba(5, 0, 41, 0.174);
  border-radius: 7px;
  background-color: var(--clr-white);
  overflow: hidden;
  padding-bottom: 10px;
}
.article:hover, .article:focus {
  box-shadow: 0 1px 3px rgba(5, 0, 41, 0.44);
  transform: translateY(-2px);
}
.article .snippet__title {
  color: var(--clr-gray-dark-2);
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 1.5;
}
.article .snippet__title a {
  color: inherit;
}
.article .snippet__title a:hover, .article .snippet__title a:focus {
  color: var(--clr-primary);
}
.article .snippet__meta {
  color: var(--clr-gray-dark-1);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.article .snippet__body {
  margin: 0 1rem 1rem;
}
.article .snippet__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.article .snippet__date {
  font-weight: lighter;
  color: darkgray;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}
.article .snippet__description {
  margin: 1rem;
  line-height: 1;
}
.article .snippet__text {
  margin: 0 1rem 4rem;
}
.article .snippet .btn {
  margin-bottom: 1rem;
  padding: 1rem 2.5rem;
}

@media screen and (min-width: 1023px) {
  .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.individual-article__page {
  padding-bottom: 12rem;
}
.individual-article__page .flow {
  max-width: 1000px;
  padding-inline: 2rem;
  margin-inline: auto;
}
.individual-article__page .main-article__figure {
  margin-bottom: 1rem;
  position: relative;
  padding: 0;
  height: 300px;
}
.individual-article__page .main-article__figure img {
  width: 400px;
  height: auto;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 5px;
}
.individual-article__page .main-article__figure::before, .individual-article__page .main-article__figure::after {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 25%;
  background-color: var(--clr-black);
  position: absolute;
  top: 50%;
}
.individual-article__page .main-article__figure::before {
  left: 0;
}
.individual-article__page .main-article__figure::after {
  right: 0;
}
.individual-article__page .description {
  font-weight: 400;
  margin-bottom: 2rem;
}
.individual-article__page .author {
  text-transform: capitalize;
  color: darkgray;
}
.individual-article__page hr {
  margin: 4rem 0;
}
.individual-article__page h1 {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  letter-spacing: 2px;
}
.individual-article__page .heading-secondary {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0px;
}
.individual-article__page p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .individual-article__page .main-article__figure::before, .individual-article__page .main-article__figure::after {
    display: none;
  }
}
.gift-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/gift-bg.png);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  position: relative;
  padding-top: 80px;
}
.gift-hero .hero-container {
  width: 100%;
  height: 100%;
  padding-bottom: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  position: relative;
}
.gift-hero .hero-container .hero-image {
  position: relative;
  z-index: 2;
  margin-top: 10px;
}
.gift-hero .hero-container h3 {
  display: inline-block;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  position: relative;
  animation: fromRight 0.4s ease-in-out forwards;
}
.gift-hero .hero-container .hero-name {
  display: block;
  font-size: 60px;
  font-family: "versailles";
  font-weight: lighter;
  color: var(--clr-white);
  letter-spacing: 3px;
  line-height: 1;
  margin: 5px 0;
  margin-top: 1rem;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 0.5s forwards;
  margin-bottom: 3rem;
}
.gift-hero .hero-container .hero-image {
  padding-top: 60px;
}
.gift-hero .hero-container p {
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 1s forwards;
}
.gift-hero .hero-container .btn {
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 1s forwards;
}
.gift-hero .hero-container .scroll-down {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-green);
  animation: scroll-down 1s ease-in-out infinite;
}
.gift-hero .hero-container .scroll-down i {
  font-size: 3rem;
}
.gift-hero .custom-shape-divider-bottom-1703097246 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.gift-hero .custom-shape-divider-bottom-1703097246 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 130px;
}
.gift-hero .custom-shape-divider-bottom-1703097246 .shape-fill {
  fill: #FFFFFF;
}

.gift-about {
  background-color: #fff;
  padding: 10rem 0;
}
.gift-about img {
  max-width: 300px;
}
.gift-about p {
  font-size: 2rem;
}

.gift-process {
  padding: 12rem 0;
}

.gift-package {
  padding: 12rem 0;
  background-color: var(--clr-primary);
}
.gift-package .middle {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.gift-package .gift-card {
  background-color: #fff;
  text-align: center;
  padding: 5rem 2rem;
}
.gift-package .gift-card .head {
  border-bottom: 1px solid var(--clr-primary);
  width: 100%;
  padding: 0 2rem 2rem;
  margin-bottom: 3rem;
}
.gift-package .gift-card .body .item {
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gift-package .gift-card .body i {
  color: var(--clr-primary);
}
.gift-package .gift-card .body p {
  display: inline-block;
}
.gift-package .gift-card .btn {
  margin-top: 5rem;
}
.gift-package .gift-card.premium {
  box-shadow: 7px 7px 0px var(--clr-primary-dark);
}

.gift-offer .col-1-2 {
  gap: 0;
}
.gift-offer .offer {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.gift-offer .offer:hover {
  background-size: 150%;
}
.gift-offer .offer:hover .btn {
  transform: scale(1.2);
}
.gift-offer .offer:hover .btn-primary {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
}
.gift-offer .offer:hover .btn-gold {
  background-color: var(--clr-white);
  color: var(--clr-gold-light);
  border: 2px solid var(--clr-gold-light);
}
.gift-offer .offer p {
  color: var(--clr-white);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.gift-offer .offer.boss-chick {
  background-image: url(/assets/boss-chick.png);
}
.gift-offer .offer.chairman {
  background-image: url(/assets/chairman.png);
}

@media screen and (min-width: 769px) {
  .gift-hero .hero-text {
    margin-top: -10rem;
  }
  .gift-hero .btn-primary {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .gift-hero .hero-container {
    grid-template-columns: 1fr;
  }
  .gift-hero .hero-container .hero-image {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .gift-hero .hero-container .hero-name {
    font-size: 4rem;
  }
}
@media screen and (max-width: 325px) {
  .gift-hero .hero-container .hero-name {
    font-size: 3rem;
  }
}
.no-scroll {
  overflow-y: hidden;
}

.visible {
  opacity: 1;
  pointer-events: initial;
}

.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.207);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in.appear {
  opacity: 1;
}
