



// ======================= gift-hero =======================
.gift-hero {
    width: 100%;
    min-height: 100vh;
    // background-color: var(--clr-primary-dark);
    background-image: url(/assets/gift-bg.png);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    @include ease(.4s);
    position: relative;
    // overflow: hidden;
    padding-top: 80px;


    &#hero {
        // padding-top: 0;
    }

    .hero-container {
        width: 100%;
        height: 100%;
        padding-bottom: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        align-items: center;
        justify-items: center;
        position: relative;

        .hero-image {
            position: relative;
            z-index: 2;
            margin-top: 10px;
            
        }

        h3 {
            display: inline-block;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: 2px;
            padding: 1rem 2rem;
            position: relative;
            animation: fromRight .4s ease-in-out forwards;
        }
        .hero-name {
            display: block;
            font-size: 60px;
            font-family: "versailles";
            font-weight: lighter;
            color: var(--clr-white);
            letter-spacing: 3px;
            line-height: 1;
            margin: 5px 0;
            margin-top: 1rem;
            opacity: 0;
            animation: fadeIn .4s ease-in-out .5s forwards;
            margin-bottom: 3rem;
        }
        .hero-image {
            padding-top: 60px;
        }
        p {
            margin-bottom: 30px;
            opacity: 0;
            animation: fadeIn .4s ease-in-out 1s forwards;
        }
        .btn {
            opacity: 0;
            animation: fadeIn .4s ease-in-out 1s forwards;
        }

        .scroll-down {
            display: inline-block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            color: var(--clr-green);
            animation: scroll-down 1s ease-in-out infinite;
            
            i {
                font-size: 3rem;
            }

        }

    }


    // custom divider
    .custom-shape-divider-bottom-1703097246 {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1703097246 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 130px;
    }
    
    .custom-shape-divider-bottom-1703097246 .shape-fill {
        fill: #FFFFFF;
    }
    
}
// End of Section Hero







// ======================= gift-about =======================
.gift-about {
    background-color: #fff;
    padding: 10rem 0 15rem;

    img {
        max-width: 300px;
    }
    p {
        font-size: 2rem;
    }
}
// End of gift-about







// ======================= gift-process =======================
.gift-process {
    padding: 12rem 0;

    img {
        width: 100%;
    }
}

// End of gift-process




// ======================= gift-packages =======================
.gift-package {
    padding: 12rem 0 15rem;
    background-color: var(--clr-primary);

    .middle {
        max-width: 1000px;
        margin: 0 auto 5rem;
        text-align: center;
    }

    .gift-card {
        background-color: #fff;
        text-align: center;
        padding: 5rem 2rem;

        .head {
            border-bottom: 1px solid var(--clr-primary);
            width: 100%;
            padding: 0 2rem 2rem;
            margin-bottom: 3rem;
        }

        // body
        .body {
            
            .item {
                padding: 1rem 0;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            i {
                color: var(--clr-primary);
            }

            p {
                display: inline-block;
            }
        }
        .btn {
            margin-top: 5rem;
        }

        &.premium {
            box-shadow: 7px 7px 0px var(--clr-primary-dark);
        }
    }
}
// End of gift-packages




// ================== Gift package divider ===============
.gift-offer {
    .col-1-2 {
        gap: 0;
    }
    
    .offer {
        width: 100%;
        height: 400px;
        background-size: 110%;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .4s;

        &:hover {
            background-size: 150%;
        }

        &:hover .btn {
            transform: scale(1.2);
        }
        &:hover .btn-primary {
            background-color: var(--clr-white);
            color: var(--clr-primary);
            border: 2px solid var(--clr-primary);
        }
        &:hover .btn-gold {
            background-color: var(--clr-white);
            color: var(--clr-gold-light);
            border: 2px solid var(--clr-gold-light);
        }

        h2 {
            color: var(--clr-white);
            font-size: 4rem;
            font-weight: bold;
            line-height: 1;
        }
        p {
            margin: 2rem;
            color: #fff;
        }

        &.boss-chick {
            background-image: url(/assets/boss-chick.png);
            transition: .4s;
        }
        &.chairman {
            background-image: url(/assets/chairman.png);
            transition: .4s;
        }
        &.boss {
            background-image: url(/assets/boss.png);
            transition: .4s;
        }
        &.corporate-chick {
            background-image: url(/assets/corporate-chick.png);
            transition: .4s;
        }
    }
}




// ===================== Section-why Segula Gift =======================
.section-gift-why {
    padding: 15rem 0;
    width: 100%;

    .why-card {
        padding: 2rem;
        transition: .3s;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 3px;

        &:hover::after {
            left: 0;
        }

        &:hover {
            color: #fff;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--clr-primary);
            position: absolute;
            top: 0;
            left: -99%;
            transition: .4s;
            z-index: -1;
        }
    }
}
// End of Why Segula-Gift



// =====================  Gift Banner  =======================
.section-gift-purchase {
    padding: 15rem 0;
    width: 100%;
    position: relative;
    color: #fff;


    .purchase-img {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: -1;
    }
}
// End of Gift Banner






















  ///////////////////////////////////////////////
  //             MEDIA QUERIES
  /////////////////////////////////////////////////

  @media screen and (min-width: 769px) {

    .gift-hero {

        .hero-text {
            margin-top: -10rem;
        }

        .btn-primary {
            margin-right: 2rem;
        }
    }
}



@media screen and (max-width: 768px) {
    .gift-hero {

        .hero-container {
            grid-template-columns: 1fr;

            .hero-image {
                display: none;
            }
        }
    }

}

@media screen and (max-width: 500px) {

    .gift-hero {
        // display: none;

        .hero-container {

            .hero-name {
                font-size: 4rem;
            }
        }
    }
    // end of section hero
}

@media screen and (max-width: 325px) {
 
    .gift-hero {
        // display: none;

        .hero-container {

            .hero-name {
                font-size: 3rem;
            }
        }
    }
   
}