--- 
title: About Segula Global
layout: 'base.njk'
---




<section class="section-about" id="hero">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50">
            <h1 class="heading-secondary">Who We Are</h1>
        </div>
        <div class="col-1-2">
            <div class="fade-in">
                <p>At Segula Global, we are more than just a social enterprise; we are architects of transformative leadership. Our unwavering commitment to empowering purpose-driven leaders is the driving force behind our existence.</p>
                <br>
                <h3 class="heading-tertiary">Our Mission</h3>
                <p class="mb-20">We leverage the power of social media to foster inclusivity, drive positive change, and inspire the next generation of transformative leadership. Our vision is to be a trailblazing social enterprise that empowers leaders to drive social impact and inspire change.</p>
                <h3 class="heading-tertiary">What Sets Us Apart:</h3>
                <p>Our unique value proposition goes beyond mere social media consulting. We curate thought-provoking content, refine the "why" of purpose-driven leaders, and inspire the next generation through powerful storytelling. We are dedicated to creating global citizens who use social media as a tool to drive positive change. At Segula Global, our clients are not just remembered; they leave a profound and enduring impact on the world.</p>
                {# <a href="#" class="btn btn-primary">All About Us</a> #}
            </div>
            <div class="fade-in">
                <img src="/assets/about.png" alt="team of Segula Global">
            </div>
        </div>
    </div>
</section>


{# team #}
<div class='section-team'>
    <div class="container wrapper">
        <div class='text-center mb-50'>
            <h1 class='heading-secondary'>Our Team</h1>
        </div>
        <div class="team-container">
            {# sheila Wristberg #}
            {# <div class='team-card fade-in'> #}
                {# <a href="/pages/sheila/" class="href">
                    <div class='img'>
                        <img src="/assets/sheila-wristberg.png" alt="Sheila" />
                    </div>
                    <div class='text'>
                        <div class="details">
                            <h3 class='heading-tertiary'>Shelia Wristberg</h3>
                            <p class='title primary-text'>Founder &amp; CEO</p>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/sheila-wristberg-b10a3515/" target="blank" class="team-link">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.instagram.com/sheilawristberg/" class="team-link" target="blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a> #}
                    {# <p> Founder and CEO of Segula Global, is a remarkable figure in the insurance sector and a passionate branding enthusiast. Her career is marked by transforming iRisk Management Limited into a leading insurance brand in Ghana and pioneering innovative, inclusive insurance products. Sheila's outstanding achievements include recognition as an Angaza Forum Awards honoree and the first runner-up of the Next Gen Insurance Award 2022 from Young Insurance Professionals (YIPs) Africa. She also stands as the proud founder of Women Leadership in Insurance Africa (WLIAfrica), embodying the spirit of empowerment and visionary leadership. In her role as CEO of Segula Global, Sheila's dynamic approach extends beyond insurance, focusing on the power of personal branding to empower purpose-driven leaders, instill authority, influence, and trust, and leave a lasting impact on the next generation.</p>
                    <br>
                    <p>Sheila's mission is to guide individuals and organizations in leveraging their personal brands, enabling them to achieve their career and life aspirations while making a meaningful difference. Her dual expertise in the insurance sector and branding makes her an invaluable asset to Segula Global, embodying the essence of visionary leadership and transformation.</p> #}
            {# </div> #}
            {# Carbell sarfo #}
            <div class='team-card fade-in'>
                <div href="/pages/carbell">
                    <div class='img'>
                        <img src="/assets/carbell-sarfo.png" alt="Sheila" />
                    </div>
                    <div class='text'>
                        <div class="details">
                            <h3 class='heading-tertiary'>Carbell Sarfo</h3>
                            <p class='title primary-text'>Managing Director</p>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/carbellsarfo/" target="blank" class="team-link">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.instagram.com/carbellsarfo/" class="team-link" target="blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    {# <p>a true visionary at Segula Global, defies traditional definitions. His versatility is boundless, encompassing roles as a leader, graphic designer, web developer, and a wide spectrum of market-defined function titles. With years of multifaceted experience across design disciplines, management, entrepreneurship, front-end development, and various creative pursuits, Sarfo is a consummate multi-disciplinary maker. In his pivotal role as the content and brand strategist at Segula, Sarfo's enthusiasm and ingenuity shine brightly. He has successfully collaborated with multiple brands, bringing fresh perspectives and innovative strategies to the table. With a background that spans diverse creative pursuits, his approach is as dynamic as it is comprehensive. His profound passion for music, photography, and a spectrum of other skills enriches his role, elevating the development of impactful branding and content strategies.</p>
                    <br>
                    <p>His enthusiasm knows no bounds, and his unwavering commitment to excellence defines him as a hardworking and accomplished individual who leaves an indelible mark on everything he touches. Sarfo's tireless dedication to excellence and his track record as a high-achiever make him an essential driving force behind Segula Global's success. </p> #}
            </div>
            {# richmond Duah #}
            <div class='team-card fade-in'>
                <div href="/pages/richmond">
                    <div class='img'>
                        <img src="/assets/richmond-duah.png" alt="Sheila" />
                    </div>
                    <div class='text'>
                        <div class="details">
                            <h3 class='heading-tertiary'>Richmond Duah</h3>
                            <p class='title primary-text'>Accounts Director</p>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/richmond-duah-696327267/" target="blank" class="team-link">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.instagram.com/rich.mondduah/" class="team-link" target="blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    {# <p>our esteemed Accounts Director at Segula Global, is an individual with a wealth of experience that extends beyond the realm of finance and accounts. He brings to the table not only a deep understanding of financial management but also a keen eye for administrative work and top-tier management. Richmond is a versatile and accomplished professional who seamlessly integrates his financial knowledge with his administrative prowess to drive excellence. </p>
                    <br>
                    <p>In his role as Accounts Director, Richmond's accomplished background and extensive experience are invaluable. He oversees the financial well-being of the organization with meticulous precision and strategic acumen. His multifaceted skill set is not confined to numbers; it extends to astute administrative work and top-level management. Richmond's ability to balance financial responsibilities with an acute understanding of administrative intricacies is a testament to his dedication and contributes significantly to the efficiency and success of Segula Global. His multifaceted approach to leadership ensures that Segula Global's financial and administrative matters are in capable hands, making him an indispensable asset to the team. </p> #}
            </div>
            {# winnard Bansah #}
            <div class='team-card fade-in'>
                <div href="/pages/winnard/">
                    <div class='img'>
                        <img src="/assets/winnard-bansah.png" alt="Sheila" />
                    </div>
                    <div class='text'>
                        <div class="details">
                            <h3 class='heading-tertiary'>Winnard Bansah</h3>
                            <p class='title primary-text'>Client Relationship Manager</p>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/winnardbansah/" target="blank" class="team-link">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.instagram.com/winnardbansah/" class="team-link" target="blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </d>
                    {# <p>As the Client Relationship Manager at Segula Global, Winnard is the embodiment of enthusiasm and hardworking accomplishment. With an unwavering commitment to delivering exceptional service, he's not just a manager but a relationship builder extraordinaire. Winnard's enthusiasm is infectious, and his dedication to nurturing strong client connections is a testament to his passion for success. He thrives on the intricacies of client needs and consistently goes the extra mile to ensure every partnership is a resounding success.</p>
                    <br>
                    <p>Winnard's role as Client Relationship Manager is essential to Segula Global's mission. He serves as the bridge between the organization and its clients, ensuring that their objectives are not only met but exceeded. His enthusiastic approach to client interactions and his ability to transform client feedback into actionable strategies is a defining characteristic of his role. He takes pride in building long-lasting relationships, always going above and beyond to ensure that clients feel valued and well-supported. Winnard is a true accomplisher in every sense, a key contributor to Segula Global's achievements, and a driving force behind its reputation for client satisfaction and excellence. </p> #}
            </div>
        </div>
        
    </div>
</div>