--- 
title: Festive Gift
layout: 'base.njk'
---



{# ===================== Gift hero ======================= #}
<section class="gift-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <div class="hero-text">
                <h1 class="hero-name">Unwrap Success with Segula Global's Impact Gifts for Leaders</h1>
                <p class="white-text">Elevate Your Corporate Gifting Experience with Professional Branding Services</p>
                <div>
                    </div><a href="#" class="btn btn-primary">Our Brand Solutions</a>
                    <a href="#" class="btn btn-neutral">Schedule a Strategy meeting</a>
            </div>
            <div class="hero-img">
                <img src="/assets/gift-img.png" alt="Segula Global hero image" />
          </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1703097246">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
        </svg>
    </div>
</section>
{# End of Gift hero #}





{# ===================== Gift About ======================= #}
<section class="gift-about">
    <div class="container wrapper">
        <div class="col-1-2">
            <div>
                <h1>Introduction</h1>
                <p class="mb-50">Welcome to Segula Global, where corporate gifting goes beyond the ordinary. This holiday season, discover Impact Gifts for Leaders — the perfect blend of sophistication and impact. Surprise your boss, colleagues, or even yourself with gifts that leave a lasting impression.</p>
                <a href="#" class="btn btn-primary">contact us</a>
            </div>
            <div>
                <img src="/assets/gift-box.png" alt="gift-box">
            </div>
        </div>
    </div>
</section>
{# End of Gift About #}




{# ===================== Gift About ======================= #}
<div class="gift-process">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary">Quick Processes</h1>
        </div>
        <img src="/assets/gift-process.png" alt="our process">
    </div>
</div>
{# End of Gift About #}






{# ===================== Gift Package ======================= #}
<div class="gift-package">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary white-text">Choose Your Design Package</h1>
        </div>
        <p class="white-text mb-50 middle">Welcome to Segula Global, where corporate gifting goes beyond the ordinary. This holiday season, discover Impact Gifts for Leaders — the perfect blend of sophistication and impact. </p>

        {# gift package #}
        <div class="col-1-3">
            <div class="gift-card">
                <div class="head">
                    <h1>
                        <span>$</span>
                        200
                    </h1>
                    <h3>Premium</h3>
                </div>
                {# body #}
                <div class="body">
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                </div>
                {# btn #}
                <a href="#" class="btn btn-gold">Explore packages</a>
            </div>
            <div class="gift-card premium">
                <div class="head">
                    <h1>
                        <span>$</span>
                        200
                    </h1>
                    <h3>Premium</h3>
                </div>
                {# body #}
                <div class="body">
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                </div>
                {# btn #}
                <a href="#" class="btn btn-gold">Explore packages</a>
            </div>
            <div class="gift-card">
                <div class="head">
                    <h1>
                        <span>$</span>
                        200
                    </h1>
                    <h3>Premium</h3>
                </div>
                {# body #}
                <div class="body">
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                </div>
                {# btn #}
                <a href="#" class="btn btn-gold">Explore packages</a>
            </div>
        </div>
    </div>
</div>
{# End of Gift Package #}





{# ===================== Gift package divider ======================= #}
<section class="gift-offer">
    <div class="col-1-2">
        {# BossLady package  #}
        <div class="offer boss-chick">
            <p>BossLady package </p>
            <a href="#" class="btn btn-gold">Explore Package</a>
        </div>

        {# Chairman package #}
        <div class="offer chairman">
            <p>Chairman package</p>
            <a href="#" class="btn btn-primary">Explore Package</a>
        </div>
    </div>
</section>
{# End of Gift package divider #}