--- 
title: Festive Gift
layout: 'base.njk'
---



{# ===================== Gift hero ======================= #}
<section class="gift-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <div class="hero-text">
                <h1 class="hero-name"> Gift More Than Just a Present</h1>
                <p class="white-text">The gift that keeps on giving - Segula Global Gift Cards</p>
                <div>
                    </div><a href="#about-gift" class="btn btn-primary">Learn More</a>
                    <a href="#gift-package" class="btn btn-neutral">View our gift packages</a>
            </div>
            <div class="hero-img">
                <img src="/assets/gift-img.png" alt="Segula Global hero image" />
          </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1703097246">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
        </svg>
    </div>
</section>
{# End of Gift hero #}





{# ===================== Gift About ======================= #}
<section class="gift-about" id="about-gift">
    <div class="container wrapper">
        <div class="col-1-2">
            <div>
                <h1>Introduction</h1>
                <p class="mb-50">Do you ever struggle to find substantial, meaningful gift ideas? We certainly understand the frustration since truly memorable gifts don't come easily.</p>
                <p>But we would like to propose a new gifting solution - rather than defaulting to the usual forgettable items, why not gift an invaluable experience?</p>
                <p>We are here to introduce our Gift Bundle packages allowing you to gift impactful personal branding services to the special executives, colleagues, or mentors in your professional network, in the form of a gift card.</p>
                <p>Through our tailored experiences like professional photoshoots and LinkedIn makeovers, you can provide any individual with tangible investments in realizing their highest potential influence and vision.</p>
            </div>
            <div>
                <img src="/assets/gift-box.png" alt="gift-box">
            </div>
        </div>
    </div>
</section>
{# End of Gift About #}




{# ===================== Gift process ======================= #}
<div class="gift-process">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary">Quick Processes</h1>
        </div>
        <img src="/assets/gift-process.png" alt="our process">
    </div>
</div>
{# End of Gift About #}






{# ===================== Gift Package ======================= #}
<!--<div class="gift-package">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="mb-50 white-text">Choose Your Design Package</h1>
        </div>
        <p class="white-text mb-50 middle">Welcome to Segula Global, where corporate gifting goes beyond the ordinary. This holiday season, discover Impact Gifts for Leaders — the perfect blend of sophistication and impact. </p>

        {# gift package #}
        <div class="col-1-3">
            <div class="gift-card">
                <div class="head">
                    <h1>
                        <span>$</span>
                        200
                    </h1>
                    <h3>Premium</h3>
                </div>
                {# body #}
                <div class="body">
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                </div>
                {# btn #}
                <a href="#" class="btn btn-gold">Explore packages</a>
            </div>
            <div class="gift-card premium">
                <div class="head">
                    <h1>
                        <span>$</span>
                        200
                    </h1>
                    <h3>Premium</h3>
                </div>
                {# body #}
                <div class="body">
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                </div>
                {# btn #}
                <a href="#" class="btn btn-gold">Explore packages</a>
            </div>
            <div class="gift-card">
                <div class="head">
                    <h1>
                        <span>$</span>
                        200
                    </h1>
                    <h3>Premium</h3>
                </div>
                {# body #}
                <div class="body">
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-check"></i>
                        <p>the perfect blend of sophistication</p>
                    </div>
                </div>
                {# btn #}
                <a href="#" class="btn btn-gold">Explore packages</a>
            </div>
        </div>
    </div>
</div> -->
{# End of Gift Package #}





{# ===================== Gift package divider ======================= #}
<section class="gift-offer" id="gift-package">
    <div class="col-1-2">
        {# BossLady package  #}
        <div class="offer boss-chick">
            <h2>BossLady</h2>
            <p>For the Leading Ladies in Your Life</p>
            <a href="#" class="btn btn-gold">Explore Package</a>
        </div>

        {# Chairman package #}
        <div class="offer chairman">
            <h2>Chariman</h2>
            <p>Exude Leadership with Every Click.</p>
            <a href="#" class="btn btn-primary">Explore Package</a>
        </div>

        {# Boss #}
        <div class="offer boss">
            <h2>Boss</h2>
            <p>For the Leaders Among Men,</p>
            <a href="#" class="btn btn-gold">Explore Package</a>
        </div>

        {# Chairman package #}
        <div class="offer corporate-chick">
            <h2>Corporate Chick</h2>
            <p> Empower Her Journey to Success</p>
            <a href="#" class="btn btn-primary">Explore Package</a>
        </div>
    </div>
</section>
{# End of Gift package divider #}






{# ===================== Section-why Segula Gift ======================= #}
<section class="section-gift-why">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-primary">Why is Our Gift Campaign Important?</h1>
        </div>
            {# Why gift #}
            <div class="col-1-3">
                <div class="why-card">
                    <h2>Simplify Gifting Dilemmas</h2>
                    <p>Choosing the right gift for a boss or colleague can be a daunting task. Our Gift Campaign simplifies this process by offering carefully curated packages featuring professional photoshoots and LinkedIn optimization services.</p>
                </div>
                <div class="why-card">
                    <h2>Thoughtful and Purposeful</h2>
                    <p>We believe in the power of thoughtful gifts, and our packages go beyond material items, offering experiences that contribute to personal and professional growth. A professional photoshoot captures cherished moments, while LinkedIn optimization enhances online presence.</p>
                </div>
                <div class="why-card">
                    <h2>Perfect for Every Occasion</h2>
                    <p>Whether it's a festive season, a special occasion, or just a gesture of appreciation, our Gift Campaign is versatile and suitable for various celebratory moments. Make every occasion memorable with a gift that keeps on giving.</p>
                </div>
                <div class="why-card">
                    <h2>Tailored for Professionals</h2>
                    <p>Designed with professionals and executives in mind, our campaign aligns with the corporate world's expectations. It's a unique way to express gratitude, foster connections, and invest in personal and professional development.</p>
                </div>
                <div class="why-card">
                    <h2>Ease and Convenience</h2>
                    <p>The gift packages are available in the form of convenient gift cards and ready-to-present gifts. No more stress over finding the right gift – we've got you covered!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{# End of Why Gift Package #}






{# ===================== How to purchase ======================= #}
<section class="section-gift-purchase">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary">How to Purchase</h1>
        </div>

        <ul class="purchase-list">
            <li class="purchase-item">
                <i class="fa-solid fa-check"></i>
                Purchasing a Gift Card is as easy as 1-2-3.
            </li>
            <li class="purchase-item">
                <i class="fa-solid fa-check"></i>
                Choose from our curated packages
            </li>
            <li class="purchase-item">
                <i class="fa-solid fa-check"></i>
                Make your payment
            </li>
            <li class="purchase-item">
                <i class="fa-solid fa-check"></i>
                Whether you're an employee looking to impress your boss or a team leader searching for the perfect gift for your colleagues, Segula Global has the answer.
            </li>
        </ul>
    </div>
    <img src="/assets/green-bg.png" alt="Green Background" class="purchase-img">
</section>
{# End of how to purchase #}




{# ===================== Gift Banner ======================= #}
<section class="section-gift-banner">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1>Spread Joy, Build Connections</h1>
            </div>
            <div>
                <img src="/assets/gift-banner.png" alt="Segula Gift">
            </div>
        </div>
    </div>
</section>
{# End of Gift Banner #}
