--- 
title: Services
layout: 'base.njk'
---










{# ======================= Packages ======================= #}
<div class="section-packages" id="hero">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50">
            <h2 class='heading-secondary'>Our Packages</h2>
        </div>
        <div class="col-1-3">
            <div class="package fdae-in">
                <div class="package__head green-gradient">
                    <h3>Basic</h3>
                    <h1> <span>GH$</span>1,000</h1>
                </div>
                <div class="package__text">
                    <ul class="package-list">
                        <li> Platforms: 1 (e.g., Facebook, Instagram)</li>
                        <li> Regular Posts: 12 per platform</li>
                        <li>  Engagement Monitoring</li>
                        <li> Monthly Analytics Report</li>
                        <li>  Basic Content Creation (text-based)</li>
                    </ul>
                </div>
            </div>
            <div class="package fdae-in">
                <div class="package__head gold-gradient">
                    <h3>Premium</h3>
                    <h1> <span>GH$</span>2,000</h1>
                </div>
                <div class="package__text">
                    <ul class="package-list">
                        <li> Platforms: 4 (e.g., Facebook, Instagram)</li>
                        <li> Regular Posts: 25 per platform</li>
                        <li>  Engagement Monitoring</li>
                        <li> Monthly Analytics Report</li>
                        <li>  Advanced Content Creation (Graphics and visuals)</li>
                    </ul>
                </div>
            </div>
            <div class="package fdae-in">
                <div class="package__head green-gradient">
                    <h3>Standard</h3>
                    <h1> <span>GH$</span>1,500</h1>
                </div>
                <div class="package__text">
                    <ul class="package-list">
                        <li> Platforms: 2 (e.g., Facebook, Instagram)</li>
                        <li> Regular Posts: 20 per platform</li>
                        <li>  Engagement Monitoring</li>
                        <li> Monthly Analytics Report</li>
                        <li>  Advanced Content Creation (text-based)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{# packages #}






{# ========================= Section-Process =================== #}
<section class="section-process">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50">
            <h1 class="heading-secondary">Our Process</h1>
        </div>

{# =================== Timeline cards for process ============== #}
        <div class="timeline-main">
            <div class="timeline-wrap">
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">1st Step</h2>
                        <h6 class="timeline-card-subhead">1st Step</h6>
                        </div>
                        <p class="timeline-card-text">
                        Begin by talking with us. We understand that your schedule is demanding, so we start with an initial conversation to learn about your brand, goals, and vision. </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">Brand Assessmen</h2>
                        <h6 class="timeline-card-subhead">Step 2</h6>
                        </div>
                        <p class="timeline-card-text">We take the reins on brand assessment. Our expert team conducts a comprehensive evaluation to identify opportunities and areas for improvement.</p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">Package Selection and Strategy Design</h2>
                        <h6 class="timeline-card-subhead">Step 3</h6>
                        </div>
                        <p class="timeline-card-text">
                        Select a package that aligns with your needs and goals. From there, we design a personalized brand strategy that reflects your unique identity and objectives. </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head"> Implementation, Monitoring, and Evaluation</h2>
                        <h6 class="timeline-card-subhead">Step 4</h6>
                        </div>
                        <p class="timeline-card-text">As always, let us handle the heavy lifting. We take care of the implementation, monitor progress, and continuously evaluate the strategy's effectiveness. You can trust us to manage the process while you focus on your core responsibilities.</p>
                    </div>
                </div>
            </div>
        </div>

<div class="container wrapper">
        {# call to action text #}
        <p style="margin: 4rem auto; width: 100%; max-width: 1000px; text-align: center;">This process embodies the essence of Segula Global's commitment to building your brand while you remain focused on your primary role. We understand that you're too busy to navigate this journey alone, and that's why we're here to empower you with a comprehensive and hands-on approach to brand development.</p>

        {# call to action #}
        <div class="text-center mb-50 mt-50">
            <a href="#" class="btn btn-primary">Schedule a Call</a>
        </div>
</div>
    </div>
</section>
{# End of process section #}