--- 
title: Services
layout: 'base.njk'
---










{# ======================= Packages ======================= #}
<div class="section-packages" id="hero">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50">
            <h2 class='heading-secondary'>Our Packages</h2>
        </div>
        <div class="col-1-3">
            <div class="package fdae-in">
                <div class="package__head green-gradient">
                    <h3>Basic</h3>
                    <h1> <span>GH$</span>1,000</h1>
                </div>
                <div class="package__text">
                    <ul class="package-list">
                        <li> Platforms: 1 (e.g., Facebook, Instagram)</li>
                        <li> Regular Posts: 12 per platform</li>
                        <li>  Engagement Monitoring</li>
                        <li> Monthly Analytics Report</li>
                        <li>  Basic Content Creation (text-based)</li>
                    </ul>
                </div>
            </div>
            <div class="package fdae-in">
                <div class="package__head gold-gradient">
                    <h3>Premium</h3>
                    <h1> <span>GH$</span>2,000</h1>
                </div>
                <div class="package__text">
                    <ul class="package-list">
                        <li> Platforms: 4 (e.g., Facebook, Instagram)</li>
                        <li> Regular Posts: 25 per platform</li>
                        <li>  Engagement Monitoring</li>
                        <li> Monthly Analytics Report</li>
                        <li>  Advanced Content Creation (Graphics and visuals)</li>
                    </ul>
                </div>
            </div>
            <div class="package fdae-in">
                <div class="package__head green-gradient">
                    <h3>Standard</h3>
                    <h1> <span>GH$</span>1,500</h1>
                </div>
                <div class="package__text">
                    <ul class="package-list">
                        <li> Platforms: 2 (e.g., Facebook, Instagram)</li>
                        <li> Regular Posts: 20 per platform</li>
                        <li>  Engagement Monitoring</li>
                        <li> Monthly Analytics Report</li>
                        <li>  Advanced Content Creation (text-based)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{# packages #}







{# ========================= Section-Process =================== #}
<section class="section-process">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50">
            <h1 class="heading-secondary">Our Process</h1>
        </div>

{# =================== Timeline cards for process ============== #}
        <div class="timeline-main">
            <div class="timeline-wrap">
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">We work with our clients on a monthly retainer basis</h2>
                        <h6 class="timeline-card-subhead">1</h6>
                        </div>
                        <p class="timeline-card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                        libero accusamus quisquam inventore delectus molestiae commodi in,
                        rem aliquam dignissimos, expedita sunt labore possimus, nulla
                        laborum. Maiores ratione nesciunt temporibus voluptatum nisi,
                        dicta facere? Aliquam accusamus iste sint? Velit sapiente illo
                        sit, architecto qui aliquid harum tenetur quisquam saepe
                        necessitatibus.
                        </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">Company Name</h2>
                        <h6 class="timeline-card-subhead">Jan - 2021 to April - 2022</h6>
                        </div>
                        <p class="timeline-card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                        libero accusamus quisquam inventore delectus molestiae commodi in,
                        rem aliquam dignissimos, expedita sunt labore possimus, nulla
                        laborum. Maiores ratione nesciunt temporibus voluptatum nisi,
                        dicta facere? Aliquam accusamus iste sint? Velit sapiente illo
                        sit, architecto qui aliquid harum tenetur quisquam saepe
                        necessitatibus.
                        </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">We work with our clients on a monthly retainer basis</h2>
                        <h6 class="timeline-card-subhead">1</h6>
                        </div>
                        <p class="timeline-card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                        libero accusamus quisquam inventore delectus molestiae commodi in,
                        rem aliquam dignissimos, expedita sunt labore possimus, nulla
                        laborum. Maiores ratione nesciunt temporibus voluptatum nisi,
                        dicta facere? Aliquam accusamus iste sint? Velit sapiente illo
                        sit, architecto qui aliquid harum tenetur quisquam saepe
                        necessitatibus.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {# call to action #}
        <div class="text-center mb-50 mt-50">
            <a href="#" class="btn btn-primary">Schedule a Call</a>
        </div>
    </div>
</section>
{# End of process section #}