--- 
title: Services
layout: 'base.njk'
---


<div class="services-page" id="hero">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50 fade-in">
            <h1 class="heading-secondary">Our Services</h1>
            <p class="mt-50" style="width: 100%; max-width: 1000px; margin-inline: auto;">At Segula Global, we're not just consultants; we're action-takers. While other "branding experts" may guide you and leave the hard work to you, we take a different approach. We offer a full-service branding which includes LinkedIn Optimisation, Web Design and Development, Podcast  Production, Personal branding, Photo and Video Production, Social Media Management.</p>
        </div>
    </div>
</div>

{# services #}
<section class="section-service-list">
    <div class="container wrapper">
        <div class="service-page-container">
            {# Thought Leadership #}
            <div class="service-card col-1-4 mb-50 fade-in">
                <div class='img'>
                    <img src="/assets/thought-leadership.png" alt="linkedin optimisation illustration" />
                </div>
                <div class='text'>
                    <h3 class='heading-tertiary'>Thought Leadership</h3>
                    <p class="mb-50">YWe recognize the power of Thought Leadership as a pivotal service in establishing an individual or company's authority and influence within their industry. We focus on empowering our clients to become authoritative voices, driving innovation and setting trends. Leveraging a combination of in-depth industry insights and strategic content creation, we work with you to craft and promote compelling narratives that position you as a leader in your field. </p>
                    <a href="/pages/meeting/" class="btn btn-primary">Let's talk</a>
                </div>
            </div>
            {# linkedin Branding #}
            <div class="service-card col-1-4 mb-50 fade-in">
                <div class='text'>
                    <h3 class='heading-tertiary'>LinkedIn Branding</h3>
                    <p class="mb-50">Your LinkedIn profile is more than just an online resume; it's a powerful personal branding tool. With our LinkedIn Optimization service, we go beyond mere guidance. We meticulously craft your LinkedIn profile into a compelling narrative, ensuring it reflects your personal brand's essence. We optimize keywords, showcase your achievements, and curate engaging content. This approach attracts the right connections, opportunities, and elevates your professional image. </p>
                    <a href="/pages/meeting/" class="btn btn-primary">Let's talk</a>
                </div>
                <div class='img'>
                    <img src="/assets/linkedin.png" alt="linkedin optimisation illustration" />
                </div>
            </div>
            {# Podcast production #}
            <div class="service-card col-1-4 mb-50 fade-in">
                <div class='img'>
                    <img src="/assets/Podcast-bro.png" alt="Podcast illustration" />
                </div>
                <div class='text'>
                    <h3 class='heading-tertiary'>Podcast Production</h3>
                    <p class="mb-20">Podcasts have become an essential medium for thought leaders in our digital age. With our Podcast Production service, we guide you through the entire process. From conceptualization to production, we transform your ideas into engaging, thought-provoking content. Our team ensures your podcast speaks directly to your target audience, elevating your thought leadership and amplifying your influence.</p>
                    <a href="/pages/meeting" class="btn btn-primary">Let's talk</a>
                </div>
            </div>
            {# Personal branding #}
            <div class="service-card col-1-4 mb-50 fade-in">
                <div class='text'>
                    <h3 class='heading-tertiary'>Personal Branding</h3>
                    <p class="mb-20">Personal branding is about more than just a logo or tagline; it's about telling your story. In the digital era, having a personal brand is not merely a luxury; it's an essential requirement. Our Personal Branding service goes to the core of your personal brand's narrative as we work with you to refine your brand's unique identity, articulate your vision, and communicate it authentically. When people think of you, they don't just think of a person; they think of a compelling story and a driving force for change.</p>
                    <a href="/pages/meeting/" class="btn btn-primary">Let's talk</a>
                </div>
                <div class='img'>
                    <img src="/assets/personal-brand.png" alt="Personal branding illustration" />
                </div>
            </div>
            {# Website design and development #}
            <div class="service-card col-1-4 mb-50 fade-in">
                <div class='text'>
                    <h3 class='heading-tertiary'>Web design and Development</h3>
                    <p class="mb-20"> Having a website is a digital storefront, and its design and functionality speak volumes about your brand. When someone looks you up online, let’s say they type your name on google, what do you want them to see? Our Web Design and Development service is tailored to deliver an exceptional online experience. We marry aesthetics with usability, creating visually captivating, user-friendly websites that represent your brand's identity. Our team handles everything from concept to SEO to launch, ensuring your online presence makes a lasting impact. </p>
                    <a href="/pages/meeting" class="btn btn-primary">Let's talk</a>
                </div>
                <div class='img'>
                    <img src="/assets/web-design.png" alt="Web design illustration" />
                </div>
            </div>
            {# photo and video #}
            <div class="service-card col-1-4 mb-50">
                <div class='img'>
                    <img src="/assets/photo-video.png" alt="photography" />
                </div>
                <div class='text'>
                    <h3 class='heading-tertiary'>Photo &amp; Video</h3>
                    <p class="mb-20">Visual content is an integral part of brand storytelling especially in a time where almost everyone you come across or interact with has access to the internet. Our Photo and Video Production services bring your brand's story to life. We believe that powerful visuals can convey messages where words sometimes fall short. Our team captures the essence of your brand through professional photos and captivating videos. These visuals engage your audience and deepen their connection with your brand. </p>
                    <a href="/pages/meeting" class="btn btn-primary">Let's talk</a>
                </div>
            </div>
            {# Social media management #}
            <div class="service-card col-1-4 mb-50 fade-in">
                <div class='text'>
                    <h3 class='heading-tertiary'>Social media management</h3>
                    <p class="mb-20">Social media is a dynamic space that offers immense potential to amplify your impact. Our Social Media Management service is designed to maximize that potential. We create and implement strategic social media plans tailored to your brand. We curate thought-provoking content, engage with your audience, and optimize your online presence. Your message is heard, shared, and inspires change. </p>
                    <a href="/pages/meeting" class="btn btn-primary">Let's talk</a>
                </div>
                <div class='img'>
                    <img src="/assets/social-media.png" alt="Social media mangement illustration" />
                </div>
            </div>
        </div>
    </div>
</section>


{# ========================= Section-Banner =================== #}
<section class="section-banner">
    <video autoplay loop muted src="/assets/video-bg.mp4" class="video"> your browser does not support video tag</video>
    <div class="overlay"></div>
    <div class="container wrapper">
        <h1>Elevate your presence, <br> expand your meaningful <br> influence.</h1>
        <p>When you partner with us, you gain access to full-service strategic communications and implementation that propels your brand to new heights. Our versatile teams collaborate across various domains, including social media, strategic communications, content creation, podcast and video production, and creative endeavors.</p>
            <a href="/pages/meeting/" class="btn btn-neutral"> Schedule a consultation </a>
    </div>
</section> 
{# End of section Banner #}



{# ========================= Section-Process =================== #}
<section class="section-process">
    <div class="container wrapper">
        <div class="text-center mb-50 mt-50">
            <h1 class="heading-secondary">Our Process</h1>
        </div>

{# =================== Timeline cards for process ============== #}
        <div class="timeline-main">
            <div class="timeline-wrap">
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">Start with a Conversation</h2>
                        <h6 class="timeline-card-subhead">1st Step</h6>
                        </div>
                        <p class="timeline-card-text">
                        Begin by talking with us. We understand that your schedule is demanding, so we start with an initial conversation to learn about your brand, goals, and vision. </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">Brand Assessment</h2>
                        <h6 class="timeline-card-subhead">Step 2</h6>
                        </div>
                        <p class="timeline-card-text">We take the reins on brand assessment. Our expert team conducts a comprehensive evaluation to identify opportunities and areas for improvement.</p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head">Package Selection and Strategy Design</h2>
                        <h6 class="timeline-card-subhead">Step 3</h6>
                        </div>
                        <p class="timeline-card-text">
                        Select a package that aligns with your needs and goals. From there, we design a personalized brand strategy that reflects your unique identity and objectives. </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-card-wrap">
                        <div class="card-head-wrap">
                        <h2 class="timeline-card-head"> Implementation, Monitoring, and Evaluation</h2>
                        <h6 class="timeline-card-subhead">Step 4</h6>
                        </div>
                        <p class="timeline-card-text">As always, let us handle the heavy lifting. We take care of the implementation, monitor progress, and continuously evaluate the strategy's effectiveness. You can trust us to manage the process while you focus on your core responsibilities.</p>
                    </div>
                </div>
            </div>
        </div>

<div class="container wrapper">
        {# call to action text #}
        <p style="margin: 4rem auto; width: 100%; max-width: 1000px; text-align: center;">This process embodies the essence of Segula Global's commitment to building your brand while you remain focused on your primary role. We understand that you're too busy to navigate this journey alone, and that's why we're here to empower you with a comprehensive and hands-on approach to brand development.</p>

        {# call to action #}
        <div class="text-center mb-50 mt-50">
            <a href="#" class="btn btn-primary">Schedule a Call</a>
        </div>
</div>
    </div>
</section>
{# End of process section #}
