---

---
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<!-- Calendly link widget end -->



<section class="section-banner">
    <div class="container wrapper">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div></div>
            <div class="offer">
                <h1>Get a free profile review</h1>
                <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet est maxime illum a enim quisquam, accusantium repellendus, inventore commodi ea delectus officia quis aliquid corporis quia impedit molestias voluptatum.</p>
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/carbellsarfo/30min'});return false;" class="btn btn-yellow">Book a call</a>
            </div>
        </div>
    </div>
</section>


<style lang="scss">

    .section-banner {
        width: 100%;
        padding: 8rem 0;
        background-image: url(/linkedin-banner.png);
        background-size: cover;
        background-position: right;
    }

    .offer {
    width: 100%;
    background-color: rgba(18, 54, 44, 0.8);
    color: var(--clr-white);
    padding: 2rem;
    border-radius: 2rem;
}
</style>