---

---


<div class="section-faq">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">FAQs</h2>
        </div>
        <div class="max-w-4xl mx-auto">
            <div data-ui-tablist class="ui-accordion" data-ui-transition="collapse">
                <!-- faq-1 -->
                <div class="ui-accordion-item">
                    <button data-ui-tablist-tab class="ui-accordion-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, amet.
                    </button>
                    <div data-ui-tablist-tabpanel>
                        <div class="ui-accordion-body"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas incidunt nihil laudantium culpa, tempore, voluptatem reprehenderit possimus atque similique praesentium illo officia cumque. Architecto quia delectus explicabo assumenda, hic quod provident nihil dolorum quibusdam ducimus. </div>
                    </div>
                </div>

                <!-- faq-2 -->
                <div class="ui-accordion-item">
                    <button data-ui-tablist-tab class="ui-accordion-header">Accordion header #2</button>
                    <div data-ui-tablist-tabpanel hidden>
                        <div class="ui-accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas incidunt nihil laudantium culpa, tempore, voluptatem reprehenderit possimus atque similique praesentium illo officia cumque. Architecto quia delectus explicabo assumenda, hic quod provident nihil dolorum quibusdam ducimus.</div>
                    </div>
                </div>

                <!-- faq-3 -->
                <div class="ui-accordion-item">
                    <button data-ui-tablist-tab class="ui-accordion-header">Accordion header #2</button>
                    <div data-ui-tablist-tabpanel hidden>
                        <div class="ui-accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas incidunt nihil laudantium culpa, tempore, voluptatem reprehenderit possimus atque similique praesentium illo officia cumque. Architecto quia delectus explicabo assumenda, hic quod provident nihil dolorum quibusdam ducimus.</div>
                    </div>
                </div>

                <!-- faq-4 -->
                <div class="ui-accordion-item">
                    <button data-ui-tablist-tab class="ui-accordion-header">Accordion header #2</button>
                    <div data-ui-tablist-tabpanel hidden>
                        <div class="ui-accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas incidunt nihil laudantium culpa, tempore, voluptatem reprehenderit possimus atque similique praesentium illo officia cumque. Architecto quia delectus explicabo assumenda, hic quod provident nihil dolorum quibusdam ducimus.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style lang="scss">

.section-faq {
    padding: 8rem 0;
    background-color: var(--clr-green-dark);
    color: var(--clr-white);
    border-bottom: 1px solid #647065;
}


.ui-accordion-header {
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 2rem;

    &:hover {
        color: var(--clr-yellow);
    }
}
.ui-accordion-header:where(.ui-active) {
    color: yellow;
}
</style>