---

---





<section class="studio-banner py-40">
    <div class="container wrapper">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="offer">
                <h1 class="font-bold yellow-text">Take the first step now</h1>
                <p class="my-4">Whether it’s headshots, podcast production, or optimizing your LinkedIn profile, we’re here to help. Contact us today, and let's transform your brand together!</p>
                <a href="/contact" class="btn btn-yellow">Book a Session Now</a>
            </div>
            <div>
            </div>
        </div>
    </div>
</section>







<style lang="scss">

.studio-banner {
    background-image: url(/banner-bg.png);
    background-size: cover;
    background-position: right;
}

.offer {
    width: 100%;
    background-color: rgba(18, 54, 44, 0.8);
    color: var(--clr-white);
    padding: 2rem;
    border-radius: 2rem;
}
</style>