
// ========== Container =============
.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 2580px;
    height: 100%;
}
.wrapper {
    padding-right: 20px;
    padding-left: 20px;
}
#hero {
    padding-top: 12rem;
}


.col-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    align-items: center;
}
.col-1-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
}
.col-1-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
}

// section
.section {
    padding: 10rem 0;
}




// ===============================
//      media queries
// ===============================
@media (min-width: 768px) {
    .wrapper {
        padding-right: 100px;
        padding-left: 100px;
    }

    .col-1-2 {
        grid-template-columns: 1fr 1fr;
    }
    .col-1-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
     // four columns
     .col-1-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;
    }
}



