// ================= Section contact ===================
.section-contact {
    padding: 7rem 0 5rem;
    background-image: url(/assets/contact-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


    // ========================================================
    //                    Contact Form
    // ========================================================
.contact-container {
    background-color: rgba(245, 245, 245, 0.785);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.349);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 5rem;
    gap: 3rem;
    border-radius: 5px;
    
    // lets talk
    h1 {
        font-size: 5rem;
    }

    // Contact details on left
    .contact-left {
        flex: 1.5;
        background-image: url(/assets/footer-photo.png);
        background-size: cover;
        color: var(--clr-white);
        padding: 2rem;
        padding-top: 5rem;

        .contact-details {
            margin-top: 2rem;
            list-style: none;

            .contact-item {
                display: flex;
                gap: 4rem;
                align-items: center;
                margin-bottom: 2rem;;
            }
            i {
                font-size: 2.5rem;
            }

            h3 {
                color: var(--clr-gold-light);
                font-size: 1.4rem;
            }
        }
        
    }

    form {
        flex: 2;
    }
}





// ============= Section Footer =============
.section-footer {
    background: var(--clr-black);
    color: var(--clr-gray-light);
    padding: 8rem 0 5rem;
    width: 100%;
    position: relative;
    z-index: 1;

    .footer-container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem 1rem;
    }

    .footer-logo {
        line-height: 1;
        width: 200px;
    }

    .footer-social {
        list-style: none;
        display: flex;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        justify-content: space-evenly;
        margin-top: 5rem;


        .social-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7rem;
            height: 7rem;
            border-radius: 1rem;
            font-size: 2rem;
            color: var(--clr-white);
            // background: linear-gradient(to right bottom, #E7C383, #94774F);
            transition: .4s;
            position: relative;
            overflow: hidden;
            border: 1px solid var(--clr-gray-light);

            &:hover > i,
            &:focus > i {
                transform: rotateY(360deg);
            }

            i {
                transition: .4s;
            }

            &:hover, &:focus {
                color: var(--clr-blue-dark);
                // background: green;
            }

            &:hover::before {
                top: 0;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(to right bottom, #E7C383, #94774F);
                position: absolute;
                top: 100%;
                left: 0;
                z-index: -1;
                transition: .4s;
            }

        }
    }
    



    // ========================================================
    //                    Section Policy
    // ========================================================
    .policy {
        display: flex;
        width: 100%;
        // max-width: 250px;
        justify-content: center;
        margin: 1rem  0 0;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        a {
            display: inline-block;
            color: var(--clr-gray-dark-2);
            @include ease(.3s);

            &:hover, &:focus {
                transform: translateY(-3px) scale(1.1);
                color: var(--clr-green);
            }
        }
    }
}



footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;

    p {
        font-size: 1.3rem;
        color: var(--clr-gray-dark)
    }
}







/////////////////////////////////////
        // Media Querries
///////////////////////////////////
/* Begin Media Queries*/
@media screen and (min-width: 1020px) {

   
}

@media screen and (max-width: 1019px) {
    
    .section-contact .contact-container {
        flex-direction: column;    
    }
}