.nav-scrolled {
    --clr-green: #D3D0D0;
    --clr-cream: #E7C383;
}

.nav-bar {
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: var(--clr-blue-dark);
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.349);

    .nav-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    // =========  Nav-Button   =============
    .nav-btn {
        cursor: pointer;
        @include ease(.4s);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0px, -50%);

        &:hover .lines {
            background-color: var(--clr-blue-light);
        }

        .lines {
            width: 3rem;
            height: .3rem;
            background-color: var(--clr-white);
            @include ease(.5s);

            &:not(:last-child) {
                margin-bottom: .6rem;
            }

        }
        &.close {
            transform: translate(0px, -50%) rotate(180deg);

            .lines {

                &:nth-child(1) {
                    transform: translate(0px, 9px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;                
                }
                &:nth-child(3) {
                    transform: translate(0px, -9px) rotate(-45deg);
                }
            }
        }
    }

    // =========  LOGO   =============
    .logo {
        margin-bottom: 0;

        img {
            width: 150px;
            height: auto;
        }
    }

    // Navigation Menu
    .nav-list {
        list-style: none;

        .nav-item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 4rem;
            }

            .nav-link {
                color: var(--clr-blue-dark);
                display: inline-block;
                padding: 1rem 0;
                font-family: inherit;
                @include ease(.4s);
                // border-bottom: 2px solid red;
                position: relative;
                z-index: 1;

                &:hover::after,
                &:focus::after {
                    left: 50%;
                    opacity: 1;
                }

                &::after {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    background: var(--clr-blue-light);
                    position: absolute;
                    top: 100%;
                    left: -30%;
                    opacity: 0;
                    transform: (translateX(-50%));
                    border-radius: 50%;
                    transition: .4s ease;
                }
                

                &:hover, &:focus {
                    transform: scale(1.1) translateY(-2px);
                    color: var(--clr-white);
                    border-bottom: 2px solid var(--clr-cream);
                }
            }
        }
        
    }


}









//////////////////////////////////////////////////
//               Media Querries 
//////////////////////////////////////////////////
@media screen and (max-width: 1019px) {
    .nav-bar {


        .nav-list {
            width: 260px;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            z-index: -1;
            background: rgb(var(--clr-gold-rgb), .8);
            backdrop-filter: blur(.1rem);
            display: flex;
            flex-direction: column;
            padding-top: min(20vh, 4rem);
            justify-content: center;
            text-align: center;
            @include ease(.4s);
            transform: translate3d(100%, 0, 0);

            .nav-item {
                opacity: 0;
                @include ease(.4s);

                &:not(:last-child) {
                    margin-right: 0;
                    // display: none;
                }

                &.show {
                    opacity: 1;

                    &:nth-child(1) {
                        transition-delay: .4s;
                    }
                    &:nth-child(2) {
                        transition-delay: .6s;
                    }
                    &:nth-child(3) {
                        transition-delay: .8s;
                    }
                    &:nth-child(4) {
                        transition-delay: 1s;
                    }
                    &:nth-child(5) {
                        transition-delay: 1.2s;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                .nav-link {

                    &::after {
                        background: var(--clr-white);
                    }
                }
            }

            &.show {
                transform: translate3d(0, 0, 0);
            }
        }

    }

    .nav-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background-color: rgba(60, 60, 60, 0.712);
        @include ease(.2s);
        opacity: 0;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: initial;
        }
    }
}

@media screen and (min-width: 1020px) {

    .nav-bar {

        .nav-list {
            display: flex;
            position: absolute;
            top: 50%;
            right: 10rem;
            transform: translate(00px, -50%);

            .nav-item {
                
                &:not(:last-child) {
                    margin-right: 5rem;                
                }

                .nav-link {
                    color: var(--clr-white);

                    &:hover,
                    &:focus {
                        color: var(--clr-blue-light);
                    }
                }
            }

        }
    
        .nav-btn {
            display: none;
        }

        .cart {
            // display: none;
        }
    }
}
