////////////////////////////////////////
//            SLICK JS 
///////////////////////////////////////

ul.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  list-style: none;
  text-align: center;

  li {
      position: relative;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      &::before {
          content: "";
          top: 1px;
          @include ease(.4s);
          width: 8px;
          height: 8px;
          background: var(--clr-white);
          position: absolute;
          @include shadow;
          border-radius: 50%;
      }
      &.slick-active::before {
          top: 0;
          width: 12px;
          height: 12px;
          margin-left: -2px;
          background: var(--clr-primary);
      }

      button {
          display: none;
      }

  }
}



// Slick Prev & Slick Next
.slick-arrow {
position: absolute;
top: 50%;
display: none;
display: flex;
align-items: center;
justify-content: center;
width: 5rem;
height: 5rem;
outline: none;
border: none;
border-radius: 50%;
cursor: pointer;
font-size: 25px;
color: var(--clr-primary);
background-color: var(--clr-gray-light);
@include ease(.4s);
z-index: 1;

  &:hover, &:focus {
    color: var(--clr-primary);
    background-color: var(--clr-gold-light);
  }

&::before {
  display: none;
}

.fa-solid {
  
}
}

.slick-prev {
left: 0;
}
.slick-next {
right: 0;
}



// smaller screen
@media screen and (max-width: 768px) {
.slick-arrow {
  top: calc(100% + 30px);
}

ul.slick-dots {
  bottom: -70px;
}
}
@media screen and (min-width: 769px) {

.slick-next {
  transform: translateX(30px);
}
.slick-prev {
  transform: translateX(-30px);
}
}