---
title: Segula Global
meta: Segula Global's mission is to Helping brands own their social media presence by deploying result-driven services around
layout: 'base.njk'
---


{# We Are coming soon #}
<div class="section-coming">
    <div class="container wrapper">
        <div class="coming-text">
            <img src="/assets/logo-joint.png" alt="Segula Global" srcset="">
            <h1>We Are Coming Soon !!</h1>
            <p>Our Engineers are at work, bringing you the best from all ends.</p>
            <a href="#section-contact" class="btn btn-blue">Contact Us</a>
        </div>
    </div>
</div>


{# form trial #}
<form action="./form-success.njk">
    <input type="text" name="hello" id="helll" required>
    <input type="button" value="send" class="btn btn-blue">
</form>



