---
title: Segula Global
meta: Segula Global's mission is to Helping brands own their social media presence by deploying result-driven services around
layout: 'base.njk'
---


{# We Are coming soon #}
{# <div class="section-coming">
    <div class="container wrapper">
        <div class="coming-text">
            <img src="/assets/logo-joint.png" alt="Segula Global" srcset="">
            <h1>We Are Coming Soon !!</h1>
            <p>Our Engineers are at work, bringing you the best from all ends.</p>
            <a href="#section-contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
</div> #}


{# ========================= Section hero ======================= #}
<section class="section-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <div class="hero-text">
                <h1 class="hero-name">Elevate your presence, expand your reach, and create a meaningful influence.</h1>
                <a href="#" class="btn btn-primary">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</section>
{# End of Section hero #}


{# ========================= Section About ======================= #}
<section class="section-about" id="about">
    <div class="container wrapper">
        <h1 class="heading-secondary">Who We Are</h1>
        <div class="col-1-2">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora necessitatibus quidem repellendus laboriosam quibusdam debitis! Amet velit labore, eaque aspernatur corrupti vitae mollitia eligendi, animi, libero illum voluptates rerum magni.</p>
                <br>
                <p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus cumque ratione aliquam corrupti nisi sapiente voluptatibus distinctio eos, odio quas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus expedita facilis laudantium obcaecati maiores accusantium harum modi, eos hic, itaque perferendis, deserunt numquam soluta voluptas earum veniam eveniet vero voluptate!</p>
                <a href="#" class="btn btn-primary">All About Us</a>
            </div>
            <div>
                <img src="/assets/about.png" alt="team of Segula Global">
            </div>
        </div>
    </div>
</section>
{# End of Section About #}


{# ========================= Section services ======================= #}
<section class="section-services" id="services">
    <div class="container wrapper">
        <h1 class="heading-secondary">Our Services</h1>

        <div class="services-gallery">
            <img src="/assets/services-1.png" alt="baby">
            <img src="/assets/services-2.png" alt="baby">
            <img src="/assets/services-1.png" alt="baby">
            <img src="/assets/services-2.png" alt="baby">
            <img src="/assets/services-1.png" alt="baby">
            <img src="/assets/services-2.png" alt="baby">
        </div>
    </div>
</section>
{# End of Services #}


{# ========================= Section-Banner =================== #}
<section class="section-banner">
    <video autoplay loop muted src="/assets/video-bg.mp4" class="video"> your browser does not support video tag</video>
    <div class="overlay"></div>
    <div class="container wrapper">
        <h1>Elevate your presence, <br> expand your meaningful <br> influence.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br>
            Voluptatem ex dolore repellat ut, harum soluta voluptate iure a est molestiae, rem explicabo dicta quia repudiandae <br> nihil amet eos beatae veniam?
            </p>

            <a href="#section-contact" class="btn btn-neutral"> Schedule a consultation </a>
    </div>
</section> 
{# End of section Banner #}


{# ======================= Section Proposition ================= #}
<section class="section-proposition">
    <div class="container wrapper">
        <h1 class="heading-secondary">What We Do</h1>

        <div class="col-1-2 mb-50">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus magni atque a ab nisi doloremque, nemo, maiores expedita optio suscipit molestias amet, voluptatum odio? Quam nostrum omnis quis dolores sequi eos dignissimos perspiciatis nemo, esse assumenda, nam distinctio maxime repellendus?</p>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, non possimus inventore amet a quo earum dolore nihil dolorum nobis rerum reiciendis, aut voluptates adipisci quia quas nam quae harum?</p>
                <a href="#" class="btn btn-primary">Schedule a Call</a>
            </div>
            <div>
                <img src="/assets/about.png" alt="About">
            </div>
        </div>
        <div class="col-1-3">
            <img src="/assets/ash.png" alt="ash">
            <img src="/assets/ash.png" alt="ash">
            <img src="/assets/ash.png" alt="ash">
        </div>
    </div>
</section>
{# End of Section Proposition #}